sudo: required

dist: xenial

language: bash

env:
  global:
    # https://registry.hub.docker.com/_/ros/
    - DOCKER_IMAGE_NAME=ros
    - DOCKER_IMAGE_TAG=melodic-ros-core-bionic
    - DOCKER_NAME=test
    # this works
    # - ROSCONSOLE_FORMAT='[${severity}][${time}${shortfile}:${line}${node}]:${message}'
    # this doesn't work
    - ROSCONSOLE_FORMAT="[${severity}][${time}${shortfile}:${line}${node}]:${message}"
    # this does work
    - TEST1='''[${severity}][${time}${shortfile}:${line}${node}]:${message}'''

git:
  submodules: false

services:
  - docker

before_install:
  - echo "before install"
  - pwd
  - ls -l
  - ls -l ..
  - ./scripts/test.sh
  - echo $ROSCONSOLE_FORMAT
  - echo ${ROSCONSOLE_FORMAT}
  - echo $TEST1
  - docker pull $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG
  # - docker run -td -e ROSCONSOLE_FORMAT='${ROSCONSOLE_FORMAT}' -v ${pwd}:/home --name ${DOCKER_NAME} ${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG} tail -f /dev/null
  - docker run -td -e ROSCONSOLE_FORMAT=${ROSCONSOLE_FORMAT} -v ${pwd}:/home --name ${DOCKER_NAME} ${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG} tail -f /dev/null

install:
  - echo "install"

script:
  - echo "script"
  - docker ps
  - docker exec -t ${DOCKER_NAME} /bin/bash -c cd /home && ./scripts/test.sh

after_success:
  - echo "after success"

after_failure:
  - echo "after failure"

after_script:
  - echo "after script"

notifications:
  email: false
